<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de voos</title>
    <a href="{{ url_for('add_voos') }}">Adicionar Voo</a>
</head>
<body>
    <h1>Lista de voos</h1>
    <hr>

    {% for id, voo in voos.items() %}
       <div>
            <h3>{{ voo.codigo }}</h3>
            <p>{{ voo.origem }}</p>
            <p>{{ voo.destino }}</p>
            <p>{{ voo.milhas }}</p>
            <p>{{ voo.preco_passagem }}</p>
            <p>{{ voo.tipo_aeronave }}</p>
            <p>{{ voo.num_assentos }}</p>
            <a href="{{ url_for('delete_voo', voo_id=id)}}">Deletar voo</a>
            <a href="{{ url_for('edit_voo', voo_id=id)}}">Editar voo</a>
       </div> 
       <hr>        
    {% else %}
        <p>Nenhum voo listado.</p>
    {% endfor %}
</body>
</html>
